.LoginPage {
  width: 100%;
}

.LoginCard {
  border-radius: 1.2rem;
  background: #ffffffd9;
  backdrop-filter: blur(2px);
}

.LoginPage .form-label {
  margin-bottom: 0.5rem;
}

.LoginPage .form-control {
  border-width: 2px;
}